@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Jost', sans-serif;
}

.main{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.music-container{
    height: 30rem;
    width: 18rem;
    background: #646938;
    text-align: center;
    box-shadow: 0 0  7px 2px rgb(4, 5, 2);
}

.music-container #songName{
    font-size: 20px;
    text-transform: uppercase;
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem;
    margin-top: 2%;
}

.music-container #artistName{
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 1%;
}

.img-container{
    height: 15rem;
    width: 15rem;
    /* border: 2px solid red; */
    margin: 10% auto;
}

img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    box-shadow: 0 0px 10px 1px black;
}

.control-buttons{
    margin: 3rem auto;
    width: 15rem;
    font-size: 1.5rem;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 45px;
    display: flex;
    box-shadow: 0 0px 10px 1px rgb(225, 243, 64);
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.control-buttons .playBtn{
    width: 2rem;
    height: 2rem;
    background-color: black;
    border-radius: 50%;
    font-size: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-buttons .fa-solid:hover{
    background-color: grey;
}

.rotateAnime{
    animation: rotatePic 10s linear infinite;
}

@keyframes rotatePic{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}